<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouTube</title>
</head>
<center><h2>Your Videos</h2></center>
<body>
<center>
<iframe width="420" height="315"
src="{{video1}}">
</iframe></center>

<div><form action="/forward/1" method="post">
    <button name="forwardBtn" type="submit"><img src="{{image1}}" width="140" height="105"></button></form>
<form action="/forward/2" method="post">
    <button name="forwardBtn" type="submit"><img src="{{image2}}" width="140" height="105"></button></form>
<form action="/forward/3" method="post">
    <button name="forwardBtn" type="submit"><img src="{{image3}}" width="140" height="105"></button></form>
<form action="/forward/4" method="post">
    <button name="forwardBtn" type="submit"><img src="{{image4}}" width="140" height="105"></button></form></div>
</body>
</html>